.header {
  display: flex;
  background-color: teal;
  justify-content: space-between;
  font-weight: bold;
  color: antiquewhite;
}
.title {
  color: greenyellow;
  font-size: 48px;
  text-align: center;
}
.list {
  display: flex;
  gap: 10px;
  list-style: none;
  @media screen and (max-width: 768px) {
    color: black;
  }
  li {
    &:hover {
      color: red;
    }
  }
}
